<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      {{data.name}} | {{data.location.name}}
    </super-navbar-title>
  </super-navbar>
  <div class="padding">
    <div class='map'>
    A Map Will Go Here k
    </div>
    <div class='details'>
    The details of the event will go here
    </div>
    <div class='going'>
    Who is going to the event will go here
    </div>
    {{data}}
  </div>

  <button ng-click="going()" class="button button-full button-positive">
    I'm going!
  </button>
</div>