/* From Supersonic */
.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

/* Custom */
.friend-box {
    overflow: hidden;
    text-align: center;
    padding: 15px 0 15px 0;
}

.info-box {
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: auto;
}

.name-text {
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 0 10px 0 10px;
}
.name-location-text {
    font-size: 30px;
    font-weight: 200;
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 0 10px 0 10px;
}

.middle-text {
    font-size: 15px;
    font-weight: 200;
}

.date-text {
    font-size: 30px;
    font-style: italic;
    display: inline-block;
}
.time-text {
    font-size: 30px;
    width: 100%;
    font-weight: 200;
    text-align: right;
    padding: 10px 10px 0 10px;
}
.activity-text{
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
.join-button{
    margin: 0 0 10px 10px;
}
.blank {
    height: 10vh;
    width: 100%;
    background-color: white;
}
.hang-button{
    position: fixed;
    bottom: 0;
    right: 0;
    height: 10vh;
    width: 100%;
    background-color: grey;
    color: #ffffff;
    text-align: center;
}
.event-info-box{
    display: none;
    background-color: white;
}
