/* From Supersonic */
.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

/* Custom */
.friend-box {
    line-height: 80px;
    text-align: center;
}

.info-box {
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    overflow: auto;
}

.name-location-text {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}

.middle-text {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

.date-text {
    font-size: 30px;
    font-style: italic;
    display: inline-block;
}

#add-button-wrapper {
  display: inline-block;
  position: fixed;
  right: 8px;
  top: 425px;
}

#add-button {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #4E2A84;
  border: 2px solid #000
}
