<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Hang with me!
    </super-navbar-title>
  </super-navbar>

  <div> 
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">What are you doing?</span>
        <input type="text" ng-model="newEvent.data.activity"> 
      </label>
      <label class="item item-input">
        <span class="input-label">Where are you?</span>
        <input type="text" ng-model="newEvent.data.location.name"> 
      </label>
      <label class="item item-input">
        <span class="input-label">From:</span>
        <input type="datetime-local" ng-model="newEvent.data.time.start">
      </label>
      <label class="item item-input">
        <span class="input-label">Until:</span>
        <input type="datetime-local" ng-model="newEvent.data.time.end">  
      </label>
      
      <button ng-click="sendEventForm()" class="button button-full button-positive">
        Create
      </button>
    </div>
    
    <p>
      {{successmsg}}
    </p>
  </div>
</div>