<div ng-controller="IndexController" ng-init="getEvents()">

  <super-navbar>
    <super-navbar-title>
      Hammock
    </super-navbar-title>
  </super-navbar>

  <div ng-repeat="post in allposts track by $index">
    <div id="box-{{ $index }}"
      class="friend-box padding-horizontal"
      ng-style="{ 'background-color': boxColors[$index % boxColors.length] }"
      ng-click="toggleEventInfo($index, post.data)"
      data-info-open="false"
    >
      <div class="name-text">
        <p>
          {{ post.data.name }}
          <span class="middle-text"> is at </span>
        </p>

      </div>
      <br>
      <div class="name-location-text"> 
        <p>
          {{ post.data.location }}
        </p>
      </div>
    </div>
    <div id="box-info-{{ $index}}"
      class="event-info-box"
      >
      <div class="time-text">
        until {{post.data.end_time}}
      </div>
      <div class="activity-text">
        {{post.data.event}}
      </div>
      <button class="button button-outline button-stable join-button">Let's Hang!</button>
    </div>
    </div>
  </div>

  <!-- This div is to make sure the hang button doesn't hide any data when
    the page is scrolled all the way to the bottom. -->
  <div class="blank"></div>

  <super-navigate location="hang#index">
    <div class="hang-button">
      <h1>Hang</h1>
    </div>
  </super-navigate>
</div>
