<div ng-controller="IndexController" ng-init="getEvents()">

  <super-navbar>
    <super-navbar-title>
      Hammock
    </super-navbar-title>
  </super-navbar>

<!--   <span id="ab" style="display:inline-block;position:fixed; right:8px; top:425px;">
    <button type="button" onclick="getEvents()" style="height:70px; width:70px; border-radius:100%; background-color:aqua; border:2px solid #000"> + </button>
  </span> -->

  <div ng-repeat="post in allposts track by $index">
    <div id="box-{{ $index }}"
      class="friend-box padding-horizontal"
      ng-style="{ 'background-color': boxColors[$index % boxColors.length] }"
      ng-click="boxInfo($index, post.data)"
      data-info-open="false"
    >
      <div class="name-location-text">{{ post.data.name }}</div>
      <div class="middle-text"> is at </div>
      <div class="name-location-text">{{ post.data.location }}</div>

     <!--  <div class="middle-text"> from {{post.data.start_time}} till {{post.data.end_time}} </div> -->
      <div class="middle-text"> until </div>
      <div class="date-text">{{ post.data.end_time }}</div>
    </div>
  </div>
  <div class="blank">
    Blank
  </div>
  <div class="hang-button">
    <h1>Hang</h1>
  </div>
  <!-- <div> 
    <h3> Enter the data for creating a new event </h3>
    <p>
      <input placeholder="Enter your name" ng-model="newEvent.data.name"> 
      <input placeholder="Enter your event" ng-model="newEvent.data.Event"> 
      <input placeholder="Enter your location" ng-model="newEvent.data.location"> 
      <input placeholder="From (24hrs format)" ng-model="newEvent.data.start_time">
      <input placeholder="Until (24hrs format)" ng-model="newEvent.data.end_time">  
      <p>
        <button ng-click="sendEventForm()"> Create </button>
        <p>
          {{successmsg}}
        </p>
      </p>
    </p>
  </div> -->
</div>
